{% extends 'base.html.twig' %}

{% block title %}
    {{ 'title.question_list'|trans ({'%tags%': question.tags|default('')}) }}
{% endblock %}

{% block body %}
    <div class="post-question">
        <h1>{{ 'title.question_list'|trans ({'%tags%': question.tags|default('')}) }}</h1>
        <h3><a href="{{ url('question_create') }}" title="{{ 'action.create_question'|trans }}">
                {{ 'action.create_question'|trans }}
            </a></h3>
        {% if pagination is defined and pagination.items|length %}
            <div class="navigation text-center">
                {{ knp_pagination_render(pagination) }}
            </div>

            <table class="table table-striped">
                <thead>
                <tr>
                    <th>{{ knp_pagination_sortable(pagination, 'label.id'|trans, 'question.id') }}</th>
                    <th>{{ knp_pagination_sortable(pagination, 'label.created_at'|trans, 'question.createdAt') }}</th>
                    <th>{{ knp_pagination_sortable(pagination, 'label.title'|trans, 'question.title') }}</th>
                    <th>{{ knp_pagination_sortable(pagination, 'label.category'|trans, 'category.title') }}</th>
                    <th>{{ 'label.tags'|trans }}</th>
                    <th>{{ 'label.actions'|trans }}</th>
                </tr>
                </thead>
                <tbody>
                {% for question in pagination.items %}
                    <tr>
                        <td>{{ question.id }}</td>
                        <td>{{ question.createdAt|format_date('long') }}</td>
                        <td>{{ question.title }}</td>
                        <td><a href="{{ url('question_show_by_category', {id: question.category.id}) }}">{{ question.category.title }}</a></td>
                        <td>
                            {% if question.tags is defined and question.tags|length %}
                                {% for tag in question.tags %}
                                    <a class="btn btn-outline- btn-tags" href="{{ url('question_show_by_tags', {id: tag.id}) }}">{{ tag.title }}</a>
                                {% endfor %}
                            {% else %}
                                &nbsp;
                            {% endif %}
                        </td>
                        <td>
                            {% if is_granted('ROLE_ADMIN') or is_granted('EDIT', question) and is_granted('DELETE', question) %}
                                <div class="dropdown">
                                    <button class="btn btn-secondary btn-sm dropdown-toggle" type="button" data-bs-toggle="dropdown" aria-expanded="false">
                                        {{ 'action.options'|trans }}
                                    </button>
                                    <ul class="dropdown-menu">
                                        <li><a class="dropdown-item" href="{{ url('question_show', {id: question.id}) }}" title="{{ 'action.show'|trans }}">{{ 'action.show'|trans }}</a></li>
                                        <li><hr class="dropdown-divider"></li>
                                        {% if is_granted('ROLE_ADMIN') or is_granted('EDIT') %}
                                            <li><a class="dropdown-item" href="{{ url('question_edit', {id: question.id}) }}" title="{{ 'action.edit'|trans }}">{{ 'action.edit'|trans }}</a></li>
                                        {% endif %}
                                        {% if is_granted('ROLE_ADMIN') or is_granted('DELETE') %}
                                            <li><a class="dropdown-item" href="{{ url('question_delete', {id: question.id}) }}" title="{{ 'action.delete'|trans }}">{{ 'action.delete'|trans }}</a></li>
                                        {% endif %}
                                    </ul>
                                </div>
                            {% else %}
                                <button class="btn btn-secondary">
                                    <a href="{{ url('question_show', {id: question.id}) }}" title="{{ 'action.show'|trans }}">{{ 'action.show'|trans }}</a>
                                </button>
                            {% endif %}
                        </td>
                    </tr>
                {% endfor %}
                </tbody>
            </table>

            <div class="navigation text-center">
                {{ knp_pagination_render(pagination) }}
            </div>

        {% else %}
            <p>
                {{ 'message.empty_list'|trans }}
            </p>
        {% endif %}
    </div>
{% endblock %}