<nav class="navbar navbar-expand-lg navbar-light bg-light">
    <div class="container-fluid">
        <a class="navbar-brand" href="{{ url('home_index') }}">Q&A</a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                <li><a class="nav-link active" href="{{ url('question_index') }}">Forum</a></li>

                {% if is_granted('IS_AUTHENTICATED_FULLY') %}<li>
                    <li><a class="nav-link active" href="{{ url('category_index') }}">{{ 'navbar.dropdown_category'|trans }}</a></li>
                    <li><a class="nav-link active" href="{{ url('tags_index') }}">{{ 'navbar.dropdown_tags'|trans }}</a></li>
                {% endif %}

                {% if is_granted('ROLE_ADMIN') %}<li>
                    <a class="nav-link active" href="{{ url('user_index') }}">{{ 'navbar.dropdown_user'|trans }}</a></li>
                {% endif %}
            </ul>
            <li class="nav-item d-flex">
                {% if is_granted('IS_AUTHENTICATED_FULLY') %}
                        <div class="nav-link black">{{ app.user.email }}</div>
                        <a class="nav-link active" href="{{ url('app_logout') }}">{{ 'action.logout'|trans }}</a>
                        <a class="nav-link active" href="{{ url('app_account_edit', {id: app.user.id}) }}">{{ 'action.account_edit'|trans }}</a>
                {% else %}
                        <a class="nav-link active" href="{{ url('app_login') }}">{{ 'action.login'|trans }}</a>
                        <a class="nav-link active" href="{{ url('app_register') }}">{{ 'action.register'|trans }}</a>
                {% endif %}
            </li>
        </div>
    </div>
</nav>